networks:
    blah2:
      driver: bridge #Create network

services:

  config-merger:
    restart: "no"  # Run once and exit
    image: ghcr.io/offworldlabs/retina-config-merger:latest
    volumes:
      - /data/retina-node/config:/data/retina-node/config
      - /data/mender-app:/data/mender-app
    container_name: retina-config-merger

  blah2:
    restart: always
    image: ghcr.io/offworldlabs/blah2:v0.2.1
    tty: true
    depends_on:
      config-merger:
        condition: service_completed_successfully
      blah2_api:
        condition: service_started
    volumes: #Persistant storage in /data/
      - /data/retina-node/config:/opt/blah2/config:ro # Read-only merged config from config-merger
      - /data/retina-node/blah2/save:/opt/blah2/save

      - /dev/shm:/dev/shm:rw
      - /dev/bus/usb:/dev/bus/usb:rw
      - /usr/local/lib/libsdrplay_api.so.3.15:/usr/local/lib/libsdrplay_api.so.3:ro
      - /data/retina-node/blah2/test:/opt/blah2/test

      - /data/retina-node/blah2/script/sdrplay-restart.sh:/opt/blah2/sdrplay-restart.sh #@TODO - can we bake this in?

    network_mode: host
    pid: "host"
    privileged: true
    # Command: restart SDR -> start app with pre-merged config
    command: bash -c "/opt/blah2/sdrplay-restart.sh && /opt/blah2/bin/blah2 -c /opt/blah2/config/config.yml"
    container_name: blah2

  blah2_web:
    restart: always
    image: ghcr.io/offworldlabs/blah2-web:v0.2.1
    ports:
      - 49152:80
    networks:
      - blah2
    container_name: blah2-web

  blah2_api:
    restart: always
    image: ghcr.io/offworldlabs/blah2-api:v0.2.1
    depends_on:
      config-merger:
        condition: service_completed_successfully
    volumes:
      - /data/retina-node/config:/usr/src/app/config:ro # Read-only merged config from config-merger
    network_mode: host
    # Command: start API server with pre-merged config
    command: bash -c "node server.js /usr/src/app/config/config.yml"
    container_name: blah2-api

  blah2_host:
    restart: always
    image: ghcr.io/offworldlabs/blah2-host:v0.2.1
    ports:
      - "8080:80"
    networks:
      - blah2
    container_name: blah2-host
    depends_on:
      - blah2_web
      - blah2_api

  readsb:
    restart: always
    image: ghcr.io/sdr-enthusiasts/docker-readsb-protobuf:latest
    container_name: readsb
    hostname: readsb
    network_mode: host
    depends_on:
      config-merger:
        condition: service_completed_successfully
    environment:
      - TZ=UTC
      - READSB_DEVICE_TYPE=none
      - READSB_LAT=${RECEIVER_LAT:-0}
      - READSB_LON=${RECEIVER_LON:-0}
      - READSB_ALT=${RECEIVER_ALT:-0}
      - READSB_RX_LOCATION_ACCURACY=2
      - READSB_STATS_RANGE=true
      - READSB_NET_ENABLE=true
      - DISABLE_WEBAPP=true
      - READSB_NET_CONNECTOR=${READSB_NET_CONNECTOR:-}
    volumes:
      - readsb-autogain:/run/autogain
      - readsb-collectd:/run/collectd
    tmpfs:
      - /var/log:size=32M

  tar1090:
    restart: always
    image: ghcr.io/offworldlabs/tar1090-node:dev
    container_name: tar1090
    hostname: tar1090
    network_mode: host
    depends_on:
      config-merger:
        condition: service_completed_successfully
      readsb:
        condition: service_started
    environment:
      - TZ=UTC
      - BEASTHOST=127.0.0.1
      - BEASTPORT=30005
      - LAT=${RECEIVER_LAT:-0}
      - LONG=${RECEIVER_LON:-0}
      - TAR1090_DEFAULTCENTERLAT=${RECEIVER_LAT:-0}
      - TAR1090_DEFAULTCENTERLON=${RECEIVER_LON:-0}
      - READSB_URL=http://127.0.0.1:80/data/aircraft.json
      - ADSBLOL_ENABLED=${ADSBLOL_ENABLED:-false}
      - RECEIVER_LAT=${RECEIVER_LAT:-0}
      - RECEIVER_LON=${RECEIVER_LON:-0}
      - ADSBLOL_RADIUS=${ADSBLOL_RADIUS:-40}
      - PROXY_PORT=3010

  adsb2dd:
    restart: always
    image: ghcr.io/offworldlabs/adsb2dd:dev
    network_mode: host
    container_name: adsb2dd
    environment:
      - TZ=UTC

volumes:
  readsb-autogain:
  readsb-collectd:

